<h3>Lista de Alunos</h3>

<hr />

<div class="bg-info clearfix">
    <button pButton  class="ui-button-info" label="Pesquisar" icon="fa-search"></button>
</div>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">

          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Lista de novos alunos cadastrados..</span>
          <button pButton label="Novo" icon="fa-plus" type="button"
          class="ui-button-warning" (click)="prepararNovoContato()"></button>
        </div>
    </p-header>
    <hr />


    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-widget-header" style="color:#666; padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="color:#ddd;;margin:4px 4px 0 0"></i>
        <input (input)="tabela.filterGlobal($event.target.value, 'contains')"
          type="text" pInputText size="35" [(ngModel)]="filtro.nome" name="nome" ngModel>
      </div>
    </form>
    <p-table
           [value]="alunos"
           [paginator]="true"
           [rows]="filtro.itensPorPagina"
           [lazy]="true"
           [totalRecords]="totalRegistros"
           [responsive]="true"
           (onLazyLoad)="aoMudarPagina($event)"  #tabela >
        <ng-template pTemplate="header">
            <tr>

                <th class="col-id">Código</th>
                <th>Nome </th>
                <th>Endereço</th>
                <th  class="col-acoes" >Ações</th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aluno>
            <tr>
                <td>{{aluno.id}}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.endereco}}</td>
                <td>

                    <button pButton icon="fa-pencil" pTooltip="Editar"
                            class="ui-button-info" tooltipPosition="top" [routerLink]="['/alunos', aluno.id]"></button>

                    <button pButton icon="fa-trash" pTooltip="Excluir" class="ui-button-danger"
                            tooltipPosition="top" (click)="confirmarExclusao(aluno.id)"></button>

                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">
                Nenhum aluno cadastrado.....
              </td>
            </tr>
          </ng-template>
      </p-table>

  </p-panel>
  <p-dialog [(visible)]="exbindoFormularioContato"
     modal="modal" *ngIf="aluno">

     <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <hr />
      <div class="bg-info clearfix">
          <button pButton type="submit" class="ui-button-info" label="Salvar" icon="fa-plus"></button>
      </div>

      <p-panel>


          <br />
          <span class="ui-float-label">
              <input  pInputText type="text" [(ngModel)]="aluno.nome" name="nome" ngModel #nome="ngModel" required minlength="5">
              <label for="float-input">Nome</label>
            </span>
            <br />

          <span class="ui-float-label">
              <input  pInputText type="text" [(ngModel)]="aluno.endereco" name="endereco" ngModel #nome="ngModel" required minlength="5">
              <label for="float-input">Endereço</label>
            </span>
            <br />
          <p-footer>
              <button pButton type="submit" class="ui-button-danger" label="Salvar" icon="fa-plus"></button>

          </p-footer>
      </p-panel>


      </form>

</p-dialog>
