<div class="container">

      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Principal</li>
        </ol>
      </nav>

      <ng2-toasty></ng2-toasty>

      <router-outlet></router-outlet>

      <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
        <p-footer>
          <button type="button" pButton icon="fa-check" label="Sim" (click)="confirmacao.accept()"></button>
          <button type="button" pButton icon="fa-times" label="Não" (click)="confirmacao.reject()"></button>
        </p-footer>
      </p-confirmDialog>

</div>
